*{
  vertical-align: top;
}

.container {
  with: 50%
}


.experiment {
  height: 100px;
  background-color: #888;
}
  span {
    background-color: goldenrod;
    display: block;
    margin: 10px 0;
  }
  p {
    width: 200px;
    display: inline-block;

  }
p.no-margin {
  margin: 0;
}
